*{margin: 0;
	padding: 0;
}

	body
{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: Very Dark Cyan: hsl(192, 100%, 9%)
  justify-content: center;
  align-items: center;
  
}

.sec2
{
  margin-top: 5%;
  margin-left: 12%;
  height: 50vh;
  box-shadow: 0 0 8px 8px #e6e6e6;
  width:75%;
  display: inline-flex;
  justify-content: space-around;
  border-radius: 20px;
}

.sec2>.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec2>.container2>h1
{
 padding-bottom: 5px; 
  font-size:45px;
  font-family: "Poppins",sans-serif;
  color:  hsl(192, 100%, 9%);
  font-weight: 600;
  margin-left: 10vh;
  margin-top: 2vh;
}

.sec2>.container2>p
{
	color: hsl(208, 11%, 55%);
	font-size: 18px;
	font-family: "Open sans", sans-serif;
	font-weight: 400;
    margin-left: 10vh;
    width: 70%;
}

#triple_img{
  margin-left: 10vh;
  margin-top: 5vh;
  margin-right: 5vh;
  height: 40vh;
}

.Container1
{
display:flex;
flex-direction: Column;
max-width:35%;
margin-left:5%;
padding-bottom:7%;
}

.C1_button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  padding: 17px 50px;
  text-align: center;
  display: inline-block;
  margin-left:14%;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  max-width:40%;
  margin-top:2%;
}
.Container1>h1
{
 margin-top:20%;
 padding-top: 8%;
 padding-left: 14%;
 color: hsl(192, 100%, 9%);
 font-size:45px;
 font-family: "Poppins",sans-serif;
 font-weight: 600;
 }
.Container1>p
{
padding-top:8%;
padding-left:14%;
padding-bottom:7%;
color:hsl(192, 100%, 9%);
font-family: "Open sans", sans-serif;
font-size:20px;
font-weight: 400;
}

#LogoTop_img
{
	 padding-left: 14%;
	 margin-top: 8%;
	 margin-right: 50%;
	 margin-bottom:3%;
}

.Container1a
{
display:flex;
flex-direction: Column;
max-width:55%;
margin-left:5%;
padding-bottom:7%;
align-content: 
}
.mainbox
{   background-color:  hsl(193, 100%, 96%);
	background-image: url(../images/bg-hero-desktop.svg);
	display:flex;
	flex-direction: row;
}
#SideTop_img
{
	padding-top: 10%;
	margin-right: 6%
}
.C1a_button{
  background-color: white;
  border: none;
  color: black;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 75%;
  cursor: pointer;
  border-radius: 26px;
  box-shadow: 0 0 4px 4px #e6e6e6;
  max-width: 20%;
  margin-top:4%;
  font-weight: 700;
  font-size: 16px;
 font-color:hsl(192, 100%, 9%);
}
.footer
{
	margin-top: 3%;
background:hsl(192, 100%, 9%);
height: 40vh;
}
.logoalt{
	filter: saturate(0%) invert(100%) brightness(150%);
	 padding-left: 8%;
	 margin-right: 5%;
	 margin-top: 3%;	 
}

#icon_img{
	max-width: 20px;
	max-height: 20px;
}
.details{
	display: flex;
	max-width: 25%;
	flex-direction: column;
	padding-top: 2%;
	padding-left: 3%;
	flex-wrap: nowrap;
	margin:none;
	}
.leftid>p{
	display: inline-block;
	color: white;
	padding:  2%;
	font-size: 18px;
	justify-content: center;
  box-sizing: border-box;


}
.footer	{
	display: flex;
	flex-direction:row;
	justify-content: center;


}
